.select-temperament{
    display: inline-block;
    padding: 8px 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #5e4caf;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
    margin-right: 10px;
    margin-left: 5px;
}