.main-home{
    background-image:url('https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}
.div-loader{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}